<h2>Edit User</h2>

<%= render "form.html", Map.put(assigns, :action, user_path(@conn, :update)) %>

<span><%= link "Back", to: page_path(@conn, :index) %></span>
<span><%= link "Delete", to: user_path(@conn, :delete), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
