<%= if @current_user do %>
  <li><%= link @current_user.username, to: user_path(@conn, :edit) %></li>
  <li>
    <%= link "Sign out", to: session_path(@conn, :delete,
                                          @current_user),
                         method: "delete" %>
  </li>
<% else %>
  <li><%= link "Register", to: user_path(@conn, :new) %></li>
  <li><%= link "Sign in", to: session_path(@conn, :new) %></li>
<% end %>
